html{
    background-color: #EDE8E4;
    color: #232323;
    
}
#home{
    font-size: 20px;
    text-align: right;
    padding-right: 5%;
    padding-top: 1%;
    font-family: 'NorthBergen-Light';;
}

a{
    text-decoration: none;
    color: #232323;
}

a:hover{
    font-size: 30px;
}

h1:hover{
    color: #34588E;
}

h1{
    margin-top: 10px;
    font-family: 'Futura';
    font-style: bold;
    font-size: 80px;
    text-align: left;
    padding-left: 5%;
}